<div class="h-max w-full bg-black/90">
  <div class="h-max w-full  ">
    <div class="h-max w-full p-12 flex flex-col md:flex-row justify-center items-center gap-5 md:p-32 md:gap-24">
      <button routerLink="/category" class="h-64 w-64 flex justify-center items-center rounded-xl bg-black border-b-[4px] border-r-[4px] border-white/30 text-white/80 text-4xl font-medium underline active:scale-105 ">Category</button>
      <button routerLink="/AllPost" class="h-64 w-64 flex justify-center items-center rounded-xl bg-black border-b-[4px] border-r-[4px] border-white/30 text-white/80 text-4xl font-medium underline active:scale-105 ">Post</button>
      <button class="h-64 w-64 flex justify-center items-center rounded-xl bg-black border-b-[4px] border-r-[4px] border-white/30 text-white/80 text-4xl font-medium underline active:scale-105 ">Action</button>
    </div>
  </div>
</div>
